<section
  id="home"
>
<div class="intro-text">
  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <h1 class="mt-3">Mohamed Abdelhalim</h1>
    <p>
      I am a <span class="typed"></span>
    </p>
  </div>

  <button class="my-resume">
    <a href="https://drive.google.com/file/d/1-q4s8QWEnUD1fz3U930bqx-LQ5bl0P-A/view?usp=sharing" target="_blank" class="resume-link">
      Get Resume
    </a>
    <i class="fa-solid fa-circle-arrow-down"></i>
  </button>
</div>
<div class="image">
    <img src="assets/my image.jpg" alt="Mohamed Abdelhalim" class="rounded-circle img-fluid profile-img">
  </div>
  </section>

